body {
  background-color: rgb(196, 201, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
/*alteração do fundo e mover itens para qualquer lugar da pagina*/
h1,
h2 {
  display: block;
  text-align: center;
}
/*alterar os estilos*/
